.lblue{
	background-color: #E0FFFF;		
}

.blue{
	background-color:#0099CC;
}

.dblue{
	background-color: #003366;	
}
.dblue-text{
	color: #003366;	
}
html,body, div{
	background-color: #E0FFFF;	
}

.game-list::-webkit-scrollbar-thumb{
	background-color: #E0FFFF;
}
.game-list::-webkit-scrollbar-button {
      background-color: #7c2929;
}
header{
	/*background-color:#0099CC;*/
	background-color: #E0FFFF;
	position: relative;
}

header h1{
	position: absolute;
	bottom: 0px;
	left: 60px;
	z-index: 9;
	margin: 0;
	font-size: 64px;
	color:#E0FFFF;
	background-color:#0099CC;
}

header div{
	z-index: 10;
}
.player-avatar{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: transparent;
	height: 100%;
	text-align: right;
	padding-right: 20px;
}

.player-avatar h3{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
}

/*.player-avatar a{
	position: absolute;
	bottom: -25px;
	right: 22px;
	font-size: 20px;
}*/

.player-avatar img{
	height: 100%;
	display:inline-block;
	cursor: pointer;
}

#login-form ul, .game-list ul, .friend-list ul{
	list-style:none;
	margin: 0;
}

#login-form label{
	display: block;
	text-align: center;
}

#login-form input, #register-form input, #request_phrase-form input{
	width: 100%;
	margin-top: 10px;
	font-size: 22px;
}

.Home h2,.Home h3{
	text-align: center;
	color: #003366;
}

.btn-home{
	margin-top: 20px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color:#fff;
	background-color:#0099CC;
	border-radius: 3px;
	width: 100%;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-inline{
	margin-top: 5px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color:#fff;
	background-color:#0099CC;
	border-radius: 3px;
	width: 100%;
	cursor: pointer;
	padding-top: 5 px;
	padding-bottom: 5 px;
	display: inline-block;
}

.text-inline{
	margin-top: 5px;
	display: inline-block;
	width: 100%;
}

.chat{
	height: 320px;
	margin-top: 20px;
}

.chat .avatar{
	right: 200;
	bottom: 200;
	background-color:#0099CC;
	width: 100%;
	text-align: left;
	padding-right: 30px;
}

.chat .avatar h3{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
}

.chat .avatar img{
	height: 64px;
	max-height: 64px;
	max-width: 64px;
	display:inline-block;
}

.chat .msg-list{
	overflow-y: scroll;
}

.chat .msg-list li{
	display: block;
	position: relative;
	height: 125px;
	background-color: #fff;
	padding-left: 20;
}

.chat .msg-list ul{
	padding: 0;
}

.game{
	height: 320px;
	max-width: 470px;
}

.game .header {
	right: 200;
	bottom: 200;
	background-color:#0099CC;
	width: 100%;
	text-align: left;
}

.game .header h3{
	color: #fff;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.game .user-input{
	max-width: 470px;
	width:100%;
}

.game .user-input form{
	max-width: 470px;
	position: relative;
}
.game img{
	width: 100%
	position: relative;
}

.game-list{
	height: 320px;
	overflow-y: scroll;
}

.game-list .avatar{
	width: 64px;
	height: 64px;
	background-color:#0099CC;
	display:inline-block;
}
.game-list .avatar img{
	width: 100%;
	padding: 8px;
	max-height: 64px;
	max-width: 64px;
	height: 64px;
}
.game-list li{
	display: block;
	border-color: #E0FFFF;
	border-bottom: 2px solid #E0FFFF;
	position: relative;
	height: 66px;
	background-color: #fff;
}

.game-list p{
	display:inline-block;
	position: absolute;
	margin: 0;
	height: 64px;
	/*top: 50%;
	margin-top: -15px;*/
	font-size: 16px;
	padding-left: 10px;
	background-color: #fff;
	color: #003366;
	line-height: 64px;
}

.friend-list ul{
	height: 240px;
	overflow-y: scroll;
	padding: 0;
}

.friend-list li{
	display: block;
	border-color: #E0FFFF;
	border-bottom: 1px solid #E0FFFF;
	position: relative;
	height: 31px;
	background-color: #fff;
	padding-left: 10px;
	line-height: 31px;
	color: #003366;
}

.friend-list p{
	display:inline-block;
	position: absolute;
	margin: 0;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	font-size: 16px;
	padding-left: 10px;
	background-color: #fff;
	color: #003366;
}

.friend-list div{
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
}
