<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Hangman With Friends</title>
	<meta name="description" content="Hangman With Friends">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<link rel="stylesheet" href="../css/style.css">
	
  	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/bootstrap.js"></script>
</head>
<header>
    <div class="blue" style="height: 60px"></div>
    <h1>HANGMAN With Friends</h1>
    <div class="blue"style="height: 30px; margin-top:10px;"></div>
    <div class="player-avatar">
        <h3>Harry Potter</h3>
        <img class="dropdown-toggle" src="../img/harry.jpg" data-toggle="dropdown"/>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/login">Logout</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/lobby">Back to Lobby</a></li>   
        </ul>
    </div>
</header>


	
<body>
	<div class="container">
		<div class="col-md-6 col-md-offset-1" >	

			<div class="game">
				<div class="header">
					<h3>Guess the Word</h3>
				</div>
				<div class="guessed-word">
					<span>H______</span>
				</div>				
				<div class="gallows">
					<img src="../img/gallows0.png" alt="Hangman Gallows">
					<div class="character-box">
						<ul>
							<li>A</li>
							<li class="wrong">B</li>
							<li class="used">C</li>
							<li>D</li>
							<li>E</li>
						
						</ul>
					</div>
				</div>
				<div class="user-input">
					<form>
						<input class="text-inline" type="text" name="letterguess" placeholder="Guess a letter or the word here">
						<input class="btn-inline" type="submit" value="Guess">
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="chat">
				<div class="avatar">
					<img src="../img/lordv.jpg"/>
					<h3>Lord Voldemort</h3>	    
				</div>

				<div class="msg-list">
					<ul>
						<li>
							<img src="../img/voldy_msg.jpg">
						</li>

						<li>
							<img src="../img/harry_msg.jpg">
						<li>
					</ul>
				</div>

				<div class="user-input">
					<form>
						<input class="text-inline" type="text" name="chatmsg" placeholder="Enter message here">
						<input class="btn-inline" type="submit" value="Send">
					</form>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>
