<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Hangman With Friends</title>
	<meta name="description" content="Hangman With Friends">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<link rel="stylesheet" href="../css/style.css">
	
  	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/bootstrap.js"></script>
</head>
<header>
	<div class="lblue" style="height: 60px"></div>
	<h1>HANGMAN With Friends</h1>
	<div class="lblue"style="height: 30px; margin-top:10px;"></div>
</header>
	
<body>
	<div class="col-md-8">
		<h2>Guess the Word</h2>
		<div class="game">
			<img src="../img/gallows.jpg" alt="Hangman Gallows">
		</div>
		<form>
		    <input type="text" name="letterguess" placeholder="Guess a letter or the word here">
		    <input  class="btn-home" type="submit" value="Guess">
		</form>
	</div>
	
	<div class="col-md-4">
	    <div class="chat-avatar">
		    <h3>Lord Voldemort</h3>
		    <img src="../img/lordv.jpg"/>
	    </div>
        
        <div class="game-list">
	        <ul>
	            <li>
	                <img src="../img/msg1.jpg" alt="Chatbox">
	            </li>
	            
	            <li>
	                <img src="../img/msg1.jpg" alt="Chatbox">
	            <li>
	        </ul>
	        
	        <form>
		        <input type="text" name="chatmsg" placeholder="Enter message here">
		        <input  class="btn-home" type="submit" value="Send">
		    </form>
	    <div>
	</div>
</body>
</html>
