<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Hangman With Friends</title>
	<meta name="description" content="Hangman With Friends">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
  	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/bootstrap.js"></script>
	
	<link rel="stylesheet" href="../css/style.css">
</head>
<header>
	<div class="blue" style="height: 60px"></div>
	<a href="#"><h1>HANGMAN With Friends</h1></a>
	<div class="blue"style="height: 30px; margin-top:10px;"></div>
	<div class="player-avatar">
		<h3>{{ display_name }}</h3>
		<img class="dropdown-toggle" src={{ avatar }} data-toggle="dropdown"/>
		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/lobby/{{ uid }}">Home</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage_friends/{{ uid }}">Find Friends ({{ num_requests }})</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings/{{ uid }}">Settings</a></li>
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="/login">Logout</a></li>
	    </ul>
	</div>
</header>


<script>
$(document).ready(function(){
    $(".dropdown-toggle").dropdown();
});
</script>
	
<body>
	<div class="container">
		<div class="col-md-8">
			<h2 class="dblue-text">SEE WHO ELSE IS HANGING:</h2>
			<div class="game-list">
				<ul>
                {% for item in news_feed %}
					<li>
						<div class="avatar"><img src={{ item['image_source'] }}> </div>
						<p>{{ item['display_string'] }}</p>
					</li>
                {% endfor %}
			    </ul>
			</div>
		</div>

		<div class="col-md-4">
			<h2 class="dblue-text">READY TO PLAY?</h2>

			<form id="request-game" name="request-game" action="/game/{{ uid }}/request" method="get" accept-charset="utf-8">
				<div class="wait-for-game"></div>
	            <input class="btn-home" type="submit" value="Play another Player">
            </form>

            <form id="request-game" name="request-game" action="/game/{{ uid }}/ai/request" method="get" accept-charset="utf-8">
	            <input class="btn-home" type="submit" value="Play the Computer">
            </form>

			<div class="friend-list">
				<h2 class="dblue-text">YOUR FRIENDS:</h2>
					<div class="blue">Friends:</div>
				<ul>
					<!-- Get all friends and populate the list -->
					{% for friend in friends %}
						<li style="height: 50px">
						  {{ friend['username'] }}
						  <p style="left: 80px"> <img style="height: 40px" src={{friend['profile_image']}} /> </p>
						  <p style="right: 20px" >
						      <a href="/manage_friends/{{ uid }}/delete_friendship/{{ friend['uid'] }}">Delete Friend</a>
						  </p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	
	<script src="/js/lobby.js"></script>

</body>
</html>
