<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Hangman With Friends</title>
	<meta name="description" content="Hangman With Friends">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<link rel="stylesheet" href="../css/style.css">
	
  	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/bootstrap.js"></script>
</head>
<header>
	<div class="lblue" style="height: 60px"></div>
	<h1>HANGMAN With Friends</h1>
	<div class="lblue"style="height: 30px; margin-top:10px;"></div>
</header>
	
<body>
	<div class="col-md-8">
		<h2>SEE WHO ELSE IS HANGING:</h2>
		<div class="game-list">
			<ul>
				<li>People</li>
				<li>People</li>
				<li>People</li>
				<li>People</li>
				<li>People</li>
			</ul>
		</div>
	</div>
	
	<div class="col-md-4">
		<h2>READY TO PLAY?</h2>
		<div class="btn-home">Find a Game!</div>
		<div class="friend-list">
			<ul>
				<li>People</li>
				<li>People</li>
				<li>People</li>
				<li>People</li>
				<li>People</li>
			</ul>
		</div>
	</div>
</body>
</html>