<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Hangman With Friends</title>
	<meta name="description" content="Hangman With Friends">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<link rel="stylesheet" href="/css/style.css">
	
  	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="/js/bootstrap.js"></script>
</head>

<header>
	<div class="blue" style="height: 60px"></div>
	<a href="#"><h1>HANGMAN With Friends</h1></a>
	<div class="blue"style="height: 30px; margin-top:10px;"></div>
</header>

<style>
	input {
		width:100%;
	}
</style>

<body>
	<div class="col-md-4 col-md-offset-4 Home">
		<h2>Enter the Phrase For <br>{{ guesser_name }} to Guess</h2>
        {% if error != 0 %}
        <h3>Your phrase must be at least 3 and no more than 30 alphabetical characters or spaces in length.</h3>
        {%endif %}
		<form id="request_phrase-form" name="request_phrase" action="/game/{{ uid }}/prompt/{{ gid }}" method="post" accept-charset="utf-8">
			<input type="text" id="ans" name="answer" placeholder="Phrase" required>
			<button  class="btn-home" type="submit" value="Submit">Submit</button>
		</form>
		 
	</div>
</body>

</html>
