<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Hangman With Friends</title>
	<meta name="description" content="Hangman With Friends">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
  	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/bootstrap.js"></script>
	
	<link rel="stylesheet" href="../css/style.css">
</head>
<header>
	<div class="blue" style="height: 60px"></div>
	<a href="#"><h1>HANGMAN With Friends</h1></a>
	<div class="blue"style="height: 30px; margin-top:10px;"></div>
	<div class="player-avatar">
		<h3>{{ display_name }}</h3>
		<img id='top_avatar' class="dropdown-toggle" src={{ avatar }} data-toggle="dropdown"/>
		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="/lobby/{{ uid }}">Home</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings/{{ uid }}">Settings</a></li>
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="/game/1">Back to Game</a></li>
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="/login">Logout</a></li>  
	    </ul>
	</div>
</header>


<script>
$(document).ready(function(){
    $(".dropdown-toggle").dropdown();
});
</script>
	
<body>
	<div id="site-state-info" style="display:None">
        <ul>
            <li id="uid">{{ uid }}</li>
			<li id="old_email">{{ email }}</li>
        </ul>
    </div>
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="dblue-text">Settings</h2>
			<div id="errorbox"></div>
			<iframe name="hiddenFrame" class="hide"></iframe>
			<form id="avatar-upload" action="/upload/{{ uid }}/avatar" method="post" enctype="multipart/form-data" target="hiddenFrame">
				<img id='side_avatar' src={{ avatar }} />
				<input type="file" name="img_file" id="fileToUpload">
				<input  class="btn" type="submit" value="Upload Avatar" name="submit">
			</form>
			<form name="Settings" id="settings-form" method="post" accept-charset="utf-8">
				<input type="text" id="user-name-input" name="username" placeholder="Username" value={{ display_name }} required>
            	<br>
				<input type="email" id="user-email-input" name="usermail" placeholder="Email Address" value={{ email }} required>
            	<br>
				<input type="password" id="user-password-input" name="password" placeholder="Password" required>
				<input type="password" id="user-new-password-input" name="newpassword" placeholder="New Password">
				<input type="password" id="user-new-password-confirm-input" name="new-password-confirm" placeholder="Confirm Password">
            	<input class="btn" type="submit" value="Save">
            </form>
		</div>
	</div>
	<script src="/js/settings.js"></script>
</body>
</html>
<footer></footer>